.project {
    width: 350px;
}

.imgProject {
    width: 100%;
    height: 200px;
    background-image: url("https://cs7.pikabu.ru/post_img/2018/05/25/5/1527229519156826952.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butProject {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: dimgray;
    padding: 10px 15px;
}

.textProject {
    background-color: white;
}